@model WebHotel.Models.Customer;

@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "My Details";
}

<h2>MyDetailsUpdate</h2>

<h4>Hi, @UserManager.GetUserName(User): You can modify your details below or browse other links. </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MyDetailsUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* This hidden field is necessary, as the web form must contain it to
                make all properties of the Customers class present. *@
            <input type="hidden" asp-for="Email" />
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GivenName" class="control-label"></label>
                <input asp-for="GivenName" class="form-control" />
                <span asp-validation-for="GivenName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postcode" class="control-label"></label>
                <input asp-for="Postcode" class="form-control" />
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
